.logo-img {
    max-width: 40%;
    height: auto;
    display: block;
    margin: 0 auto 20px;
}

.control-parental-container {
    max-width: 400px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #efefef;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.control-parental-title {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    padding: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 44px;
}

.switch input[type=checkbox] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}


.switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.switch-label {
    position: absolute;
    color: #fff;
    font-size: 20px; 
}

.switch .off {
    right: 12px; 
    top: 10px; 
    display: none; 
}


.switch .on {
    left: 13px; /* ajustar según sea necesario */
    top: 10px; /* ajustar según sea necesario */
    display: none; /* oculta por defecto */
}


.switch .slider:before {
    position: absolute;
    content: "";
    height: 36px;
    width: 36px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

.switch input:checked + .slider {
    background-color: #49be25;
}

.switch input:checked + .slider:before {
    transform: translateX(46px);
}

.switch input:checked ~ .on {
    display: block; 
}

.switch input:not(:checked) ~ .off {
    display: block; 
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.row {
    display: flex;
    justify-content: center;
}

body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.contenedor-estadisticas {
    max-width: 1200px;
    margin: 10px auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.titulo h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.col-lg-3 {
    width: 40%;
    padding: 0 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.small-box {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.bg-aqua {
    background-color: #00c0ef;
}

.bg-red {
    background-color: #d9534f;
}

.bg-yellow {
    background-color: #f39c12;
}

.bg-green {
    background-color: #5cb85c;
}

.inner {
    padding: 10px;
}

p {
    font-size: 14px;
    margin-bottom: 5px;
    color: #fff;
}

.estadistica {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-separator {
    width: 10px; /* Establece el ancho del separador entre botones si es necesario */
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-green {
    background-color: #5cb85c; /* Color verde para el botón */
    color: #fff; /* Texto blanco para el botón */
}

.btn-blue {
    background-color: #337ab7; /* Color azul para el botón */
    color: #fff; /* Texto blanco para el botón */
}

.btn:hover {
    background-color: #4cae4c; /* Color más oscuro para el hover del botón verde */
}

.btn-blue:hover {
    background-color: #286090; /* Color más oscuro para el hover del botón azul */
}

/* Aquí puedes continuar con cualquier otro estilo que necesites */

